* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(75, 50, 46);
  background-image: linear-gradient( rgb(209, 181, 144), rgb(255, 246, 211));
  font-size: 0.9rem;
}

nav {

}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 246, 211);
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #d4d4d4;
}

main {
  padding: 1rem;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.leftSection {

}

h1 {
  font-weight: bold;
  font-size: 1.5rem;

}

header {
  padding-inline: 5px;
  padding-block: 15px;
  min-width: fit-content;
  background-color: rgb(255, 246, 211);
  background-image: url("assets/shortearedowl1.jpg");

}
footer{
  background-color: rgb(209, 181, 144);
  display: flex;
  padding-inline:15px;
  min-width: fit-content;
}

.headerLinks {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  list-style-type: none;
  gap: 15px;
  padding-inline: 15px;
border-style: none;
}

.boxes {
  border-style: none;
  background-color: rgb(75, 50, 46);

}

.rightSection {
  
}

.card {
  width: 400px;
  height: 600px;
  border: 1px solid rgb(75, 50, 46);
  display: flex;
  justify-content: center;

}

.cardText {
  
}

.cardImg { 
  height: 500px;
  display: flex;
  justify-content: inherit;
}